/* button {
    height: 100px;
    width: 350px;
    margin-left: 30%;
    margin-right: 30%;
    font-size: 100%;
    border: solid;
}

input {
    height: 100px;
    width: 350px;
    margin-left: 30%;
    margin-right: 30%;
} */